* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FFFFFF;
}

/* header */

nav {
    height: 44px;
    background-color: #FFFFFFCC;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.logo {
    height: 25px;
    width: 20px;
    background-image: url('https://www.freepnglogos.com/uploads/apple-logo-png/apple-logo-png-index-content-uploads-10.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
    background-image: url('https://www.apple.com/v/home/ck/images/heroes/iphone-family/hero_iphone_family__fuz5j2v5xx6y_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    align-items: center;
    justify-content: center;
    padding-block: 40px;
}

.hero-title {
    color: black;
    font-size: 60px;
    text-align: center;
}

.hero-subtitle {
    color: black;
    font-size: 20px;
    text-align: center;
    font-size: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-block: 20px;
    font-size: 16px;
}

.hero-btn1 {
    padding: 15px 25px;
    background-color: rgb(2, 139, 250);
    color: white;
    border-radius: 30px;
}

.hero-btn2 {
    padding: 15px 25px;
    background-color: transparent;
    color: rgb(2, 139, 250);
    border-radius: 30px;
    border: 1px solid rgb(2, 139, 250);
}

.hero-btn2:hover {
    background-color: rgb(2, 139, 250);
    color: white;
    cursor: pointer;
}

/* Watches Section*/
.watches-section {
    margin-top: 15px;
    height: 690px;
    width: 100%;
    background-image: url('https://www.apple.com/v/home/ck/images/heroes/apple-watch-ny/hero_apple_watch_ny__c8f1tzaoa72a_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.watches-section {
    margin-top: 15px;
    height: 690px;
    width: 100%;
    background-image: url('https://www.apple.com/v/home/ck/images/heroes/apple-watch-ny/hero_apple_watch_ny__c8f1tzaoa72a_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.watches-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.watches-title {
    height: 45px;
    width: 400px;
    background-image: url('https://www.apple.com/v/home/ck/images/logos/apple-watch-ny/hero_logo_watch_series_11__f2ctjn8ul926_largetall_2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.watches-subtitle {
    color: black;
    font-size: 20px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.watches-buttons {
    display: flex;
    justify-content: center;

}

.watches-btn1 {
    padding: 15px 25px;
    background-color: rgb(2, 139, 250);
    color: white;
    border-radius: 30px;
    margin-right: 20px;
    margin-block: 30px;
}

.watches-btn2 {
    padding: 15px 25px;
    background-color: transparent;
    color: rgb(2, 139, 250);
    border-radius: 30px;
    border: 1px solid rgb(2, 139, 250);
    margin-block: 30px;
}

.watches-btn2:hover {
    background-color: rgb(2, 139, 250);
    color: white;
    cursor: pointer;
}

/* ipad section */
.ipad-section {
    margin-top: 15px;
}

.ipad-image {
    height: 600px;
    width: 100%;
    background-image: url('https://www.apple.com/v/home/ck/images/heroes/ipad-air/hero_ipad_air_avail__c34ycq52exg2_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ipad-content {
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ipad-title {
    height: 45px;
    width: 200px;
    background-image: url('https://www.apple.com/v/home/ck/images/logos/ipad-air/hero_logo_ipad_air__ejixj9pic0uq_large_2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ipad-subtitle {
    color: black;
    font-size: 20px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.ipad-buttons {
    display: flex;
    justify-content: center;
}
.ipad-btn1 {
    padding: 15px 25px;
    background-color: rgb(2, 139, 250);
    color: white;
    border-radius: 30px;
    margin-right: 20px;
    margin-block: 30px;
}
.ipad-btn2 {
    padding: 15px 25px;
    background-color: transparent;
    color: rgb(2, 139, 250);
    border-radius: 30px;
    border: 1px solid rgb(2, 139, 250);
    margin-block: 30px;
}
.ipad-btn2:hover {
    background-color: rgb(2, 139, 250);
    color: white;
    cursor: pointer;
}

/* promo section */
.promo-section {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.macbook-section{
    height: 580px;
    width: 49%;
    background-image: url('https://www.apple.com/v/home/ck/images/promos/macbook-pro-m5/promo_macbook_pro_m5__gnwzdhijhm6a_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.macbook-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 50px;
}
.macbook-title{
    height: 35px;
    width: 300px;
    color: white;
    font-size:35px;
}
.macbook-subtitle{
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    margin-top: 10px;
}
.macbook-buttons{
    display: flex;
    justify-content: center;
}
.macbook-btn1{
    padding: 10px 20px;
    background-color: rgb(2, 139, 250);
    color: white;
    border-radius: 30px;
    margin-right: 20px;
    margin-block: 15px;
    font-weight: 200;
}
.macbook-btn2{
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(2, 139, 250);
    border-radius: 30px;
    border: 1px solid rgb(2, 139, 250);
    margin-block: 15px;
    font-weight: 200;
}
.macbook-btn2:hover{
    background-color: rgb(2, 139, 250);
    color: white;
    cursor: pointer;
}
.watch-ultra-section{
    height: 580px;
    width: 49%;
    background-image: url('https://www.apple.com/v/home/ck/images/promos/apple-watch-ultra-3/promo_apple_watch_ultra3__bwvslhbxx99e_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.watch-ultra-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 50px;
}
.watch-ultra-title{
    height: 35px;
    width: 300px;
    background-image: url('https://www.apple.com/v/home/ck/images/logos/apple-watch-ultra-3/promo_logo_apple_watch_ultra3__dehvqgn07cgi_large_2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.watch-ultra-subtitle{
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    margin-top: 10px;
}
.watch-ultra-buttons{
    display: flex;
    justify-content: center;
}
.watch-ultra-btn1{
    padding: 10px 20px;
    background-color: rgb(2, 139, 250);
    color: white;
    border-radius: 30px;
    margin-right: 20px;
    margin-block: 15px;
    font-weight: 200;
}
.watch-ultra-btn2{
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(2, 139, 250);
    border-radius: 30px;
    border: 1px solid rgb(2, 139, 250);
    margin-block: 15px;
    font-weight: 200;
}
.watch-ultra-btn2:hover{
    background-color: rgb(2, 139, 250);
    color: white;
    cursor: pointer;
}
.airpods-section{
    margin-top: 15px;
    height: 690px;
    width: 49%;
    background-image: url('https://www.apple.com/v/home/ck/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.airpods-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 50px;
}
.airpods-title{
    height: 35px;
    width: 300px;
    font-size: 45px;
    background-image: url('https://www.apple.com/v/home/ck/images/logos/airpods-pro-3/promo_logo_airpodspro_3__f6xmza7bglei_large_2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.airpods-subtitle{
    color: black;
    font-size: 20px;
    width: 50%;
    text-align: center;
    font-weight: 200;
    margin-top:20px;
    font-weight:300;
}
.airpods-buttons{
    display: flex;
    justify-content: center;
}
.airpods-btn1{
    padding: 10px 20px;
    background-color: rgb(2, 139, 250);
    color: white;
    border-radius: 30px;
    margin-right: 20px;
    margin-block: 15px;
    font-weight: 200;
}
.airpods-btn2{
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(2, 139, 250);
    border-radius: 30px;
    border: 1px solid rgb(2, 139, 250);
    margin-block: 15px;
    font-weight: 200;
}
.airpods-btn2:hover{
    background-color: rgb(2, 139, 250);
    color: white;
    cursor: pointer;
}
.fitness-section{
    margin-top: 15px;
    height: 690px;
    width: 49%;
    background-image: url('https://www.apple.com/v/home/ck/images/promos/apple-fitness-plus-ny/promo_apple_fitness_plus_ny__di8hyqkgekya_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fitness-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 50px;
}
.fitness-title{
    height: 35px;
    width: 200px;
    font-size: 45px;
    background-image: url('https://www.apple.com/v/home/ck/images/logos/apple-fitness-plus-ny/promo_logo_fitness__ghrl68mizmqi_large_2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fitness-subtitle{
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    margin-top:20px;
    font-weight:300;
    width: 50%;
}
.fitness-subtitle2{
    color: grey;
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    margin-top:10px;
    font-weight:300;
    width: 50%;
}
.fitness-buttons{
    display: flex;
    justify-content: center;
}
.fitness-btn1{
    padding: 10px 20px;
    background-color: rgb(2, 139, 250);
    color: white;
    border-radius: 30px;
    margin-right: 20px;
    margin-block: 15px;
    font-weight: 200;
}
.fitness-btn2{
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(2, 139, 250);
    border-radius: 30px;
    border: 1px solid rgb(2, 139, 250);
    margin-block: 15px;
    font-weight: 200;
}
.fitness-btn2:hover{
    background-color: rgb(2, 139, 250);
    color: white;
    cursor: pointer;
}
.tradein-section{
    margin-top: 15px;
    height: 690px;
    width: 49%;
    background-image: url('https://www.apple.com/v/home/ck/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tradein-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 50px;
}
.tradein-title{
    height: 40px;
    width: 200px;
    font-size: 45px;
    background-image: url('https://www.apple.com/v/home/ck/images/logos/iphone-tradein/promo_logo_iphone_tradein__7y3gtai5az66_large_2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tradein-subtitle{
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    margin-top:20px;
    font-weight:300;
    width: 50%;
}
.tradein-btn1{
    padding: 10px 20px;
    background-color: rgb(2, 139, 250);
    color: white;
    border-radius: 30px;
    margin-right: 20px;
    margin-block: 15px;
    font-weight: 200;
}

.tradein-btn2:hover{
    background-color: rgb(2, 139, 250);
    color: white;
    cursor: pointer;
}
.apple-card-section{
    margin-top: 15px;
    height: 690px;
    width: 49%;
    background-image: url('https://www.apple.com/v/home/ck/images/promos/apple-card/promo_apple_card__5cm7draujpey_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.apple-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 50px;
}
.apple-card-title{
    height: 40px;
    width: 130px;
    font-size: 45px;
    background-image: url('https://www.apple.com/v/home/ck/images/logos/apple-card/logo__dcojfwkzna2q_large_2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   
.apple-card-subtitle{
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    margin-top:20px;
    font-weight:300;
    width: 50%;
}   
.apple-card-buttons{
    display: flex;
    justify-content: center;
}
.apple-card-btn1{
    padding: 10px 20px;
    background-color: rgb(2, 139, 250);
    color: white;
    border-radius: 30px;
    margin-right: 20px;
    margin-block: 15px;
    font-weight: 200;
}   
.apple-card-btn2{
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(2, 139, 250);
    border-radius: 30px;
    border: 1px solid rgb(2, 139, 250);
    margin-block: 15px;
    font-weight: 200;
}   
.apple-card-btn2:hover{
    background-color: rgb(2, 139, 250);
    color: white;
    cursor: pointer;
}







