* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FFFFFF;
}

/* header */

nav {
    height: 44px;
    background-color: #FFFFFFCC;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.logo {
    height: 25px;
    width: 20px;
    background-image: url('https://www.freepnglogos.com/uploads/apple-logo-png/apple-logo-png-index-content-uploads-10.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
    background-image: url('https://www.apple.com/v/home/ck/images/heroes/iphone-family/hero_iphone_family__fuz5j2v5xx6y_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    align-items: center;
    justify-content: center;
    padding-block: 40px;
}

.hero-title {
    color: black;
    font-size: 60px;
    text-align: center;
}

.hero-subtitle {
    color: black;
    font-size: 20px;
    text-align: center;
    font-size: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-block: 20px;
    font-size: 16px;
}

.hero-btn1 {
    padding: 15px 25px;
    background-color: rgb(2, 139, 250);
    color: white;
    border-radius: 30px;
}

.hero-btn2 {
    padding: 15px 25px;
    background-color: transparent;
    color: rgb(2, 139, 250);
    border-radius: 30px;
    border: 1px solid rgb(2, 139, 250);
}

.hero-btn2:hover {
    background-color: rgb(2, 139, 250);
    color: white;
    cursor: pointer;
}

/* Watches Section*/
.watches-section {
    margin-top: 15px;
    height: 690px;
    width: 100%;
    background-image: url('https://www.apple.com/v/home/ck/images/heroes/apple-watch-ny/hero_apple_watch_ny__c8f1tzaoa72a_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.watches-section {
    margin-top: 15px;
    height: 690px;
    width: 100%;
    background-image: url('https://www.apple.com/v/home/ck/images/heroes/apple-watch-ny/hero_apple_watch_ny__c8f1tzaoa72a_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;              
    justify-content: center;     
    padding-top: 40px;           
}
.watches-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.watches-title {
    height: 45px;
    width: 400px;
    background-image: url('https://www.apple.com/v/home/ck/images/logos/apple-watch-ny/hero_logo_watch_series_11__f2ctjn8ul926_largetall_2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}
.watches-subtitle {
    color: black;
    font-size: 20px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.watches-buttons{
    display: flex;
    justify-content: center;

}
.watches-btn1{
    padding: 15px 25px;
    background-color: rgb(2, 139, 250);
    color: white;
    border-radius: 30px;
    margin-right: 20px;
    margin-block: 30px;
}
.watches-btn2{
    padding: 15px 25px;
    background-color: transparent;
    color: rgb(2, 139, 250);
    border-radius: 30px;
    border: 1px solid rgb(2, 139, 250);
    margin-block: 30px;
}
.watches-btn2:hover{
    background-color: rgb(2, 139, 250);
    color: white;
    cursor: pointer;
}

/* ipad section */
.ipad-section{
    margin-top: 15px;
}
.ipad-image{
    height: 600px;
    width: 100%;
    background-image: url('https://www.apple.com/v/home/ck/images/heroes/ipad-air/hero_ipad_air_avail__c34ycq52exg2_large_2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

